CLIENT_TOKEN = // the Client Token on Mobile Integration Org
RUM_APPLICATION_ID = // the RUM Application ID on Mobile Integration Org
API_KEY = // the API Key on Mobile Integration Org

AT_ENV[config=*] = benchmarks
AT_ENV[config=Debug] = development
AT_SITE = us1

#include? "Benchmarks.local.xcconfig"
